#### Removing hawaii.sqlite database if exists

In [1]:
!rm Resources/hawaii.sqlite

### Importing all dependencies

In [2]:
import pandas as pd
from sqlalchemy import create_engine, inspect, func
from sqlalchemy import Column, Integer, String, Float

from sqlalchemy.ext.declarative import declarative_base

### Reading clean csv data into a dataframe

In [3]:
measurements_df = pd.read_csv("Resources/clean_measurements.csv")
stations_df = pd.read_csv("Resources/clean_stations.csv")

In [4]:
measurements_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [5]:
stations_df

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0
3,USC00517948,"PEARL CITY, HI US",21.39340,-157.97510,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6
5,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
6,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9
8,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4

### Creating a database connection to sqllite dialect

In [6]:
# Create Database Connection
Base = declarative_base()
engine = create_engine("sqlite:///Resources/hawaii.sqlite", echo=False)
conn = engine.connect()

### Mapping base class to a sqllite table

In [7]:
class Measurements(Base):
  __tablename__ = "measurements"
  id = Column(Integer, primary_key=True)
  station = Column(String)
  date = Column(String)  
  prcp = Column(Float)
  tobs = Column(Integer)

class Stations(Base):
  __tablename__ = "stations"
#   id = Column(Integer, primary_key=True)
  station = Column(String, primary_key=True)
  name = Column(String)
  latitude = Column(Float)
  longitude = Column(Float)
  elevation = Column(Float)

### Connecting the classes to the database

In [8]:
Base.metadata.create_all(conn)

### Converting the dataframes to sql tables

In [9]:
measurements_df.to_sql(Measurements.__tablename__, conn, if_exists="append", index=False)

In [10]:
stations_df.to_sql(Stations.__tablename__, conn, if_exists="append", index=False)

In [11]:
# help(stations_df.to_sql)